<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380035577133-4p4g9e1s6ls7hbv4cpdrfrds7tl6n65h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380035577133-4p4g9e1s6ls7hbv4cpdrfrds7tl6n65h</string>
	<key>API_KEY</key>
	<string>AIzaSyCAxGoNxtkMKQA9bULbuKaAexb9_K1BTpc</string>
	<key>GCM_SENDER_ID</key>
	<string>380035577133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bytequack.dumplinghouse</string>
	<key>PROJECT_ID</key>
	<string>dumplinghouseapp</string>
	<key>STORAGE_BUCKET</key>
	<string>dumplinghouseapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380035577133:ios:672a094811f13e0068cfa4</string>
</dict>
</plist>